#filter-stack {
  width: 30vw;
  background-color: var(--background-color-dark-0);
  border-left: 1px solid var(--border-color-dark);
  padding: 10px;
}

#filter-stack-list {
  list-style: none;
  overflow: auto;
  padding: 0;
}
