#video-canvas-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#video-controls {
  flex-shrink: 0;
  padding: 10px;
  background-color: var(--background-color-dark);
  border-top: 1px solid var(--border-color-dark);
}
